.articles-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    @media screen and(min-width: $xl-break-point) {
        &__item {
            display: flex;
            flex: 0 0 35%;
            max-width: 35%;
            align-items: center;
            height: 360px;
            margin-left: 15%;
            margin-bottom: 50px;
            padding: 40px 60px 30px 0;
            border-radius: 50px;
            box-sizing: border-box;
            &:nth-child(4n+1) {
                background: rgba(104, 201, 186, 0.1);
            }
            &:nth-child(4n+2) {
                background: rgba(156, 105, 226, 0.1);
            }
            &:nth-child(4n+3) {
                background: rgba(240, 99, 184, 0.1);
            }
            &:nth-child(4n+4) {
                background: rgba(45, 156, 219, 0.1);
            }
        }
        &__item-image {
            flex: 0 0 55%;
            margin-left: -30%;
            margin-right: 15%;
        }
        &__item-content {
            flex: 0 0 60%;
        }
        &__item-title {
            margin: 0 0 30px;
            font-size: 24px;
            font-weight: 700;
            line-height: 130%;
        }
        &__item-text {
            margin-bottom: 30px;
            font-size: 16px;
        }
        &__item-link {
            a {
                display: block;
                position: relative;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                 ::after {
                    content: "🡒";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 20px;
                    height: 20px;
                    font-size: 24px;
                    color: $primary-special-color;
                }
            }
        }
    }
}