.page-footer {
    border-top: 2px solid rgba(156, 105, 226, 0.1);
    @media screen and(min-width: $xl-break-point) {
        margin: 200 0 100px;
        padding-top: 100px;
        &__container {
            display: flex;
            flex-wrap: wrap;
            width: $xl-container-width;
            align-items: flex-start;
            margin: 0 auto;
        }
        &__section {
            flex: 0 0 15%;
            &--contact-section {
                flex: 0 0 40%;
                margin-right: 5%;
            }
            &--socials-section {
                flex: 0 0 20%;
                margin-left: 5%;
            }
        }
        &__section-header {
            display: flex;
            align-items: center;
            margin: 0 0 40px;
            font-size: 16px;
            font-weight: 900;
            &--contact-header {
                margin-bottom: 50px;
                font-size: 20px;
                img {
                    margin-right: 20px;
                }
            }
        }
        &__contact-data {
            padding-right: 50%;
        }
        &__contact-address {
            display: block;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            line-height: 180%;
            letter-spacing: 0.01em;
            &--contact-data {
                margin-top: 20px;
                font-weight: 400;
            }
        }
        &__links {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        &__links-item {
            margin-bottom: 10px;
        }
        &__socials {
            display: flex;
            width: 100%;
            justify-content: space-around;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        &__socials-item {
            width: 50px;
            height: 50px;
        }
        &__socials-link {
            display: block;
            height: 100%;
            border-radius: 50px;
            &--facebook {
                background: rgba(33, 35, 83, 0.1) url("../images/facebook.png") center center no-repeat;
            }
            &--twitter {
                background: rgba(33, 35, 83, 0.1) url("../images/twitter.png") center center no-repeat;
            }
            &--instagram {
                background: rgba(33, 35, 83, 0.1) url("../images/instagram.png") center center no-repeat;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}